/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.03.2016, 17:36:15
    Author     : fabi
*/
html,body{
    height: 100%;
}
.genInfos{
    text-align: center;
    vertical-align: central;
    padding: 10px;
    background-color: #f8f8f8;
}
.mainInfos{
    padding: 10px;
    margin-top: 20px;
    background-color: #f8f8f8;
}
.commentBox{
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 70px;
   

}
.commentBox > .modal-body > .comment{
    margin-top: 5px;
    margin-bottom: 10px;
    
    border-top: 1px solid rgb(222, 223, 231);
    border-left: 1px solid rgb(222, 223, 231);
    padding: 10px;
    
}
.commentBox > .modal-body > .comment > .commentHeader{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-size: xx-small;

} 
.commentBox > .modal-body > .comment > .commentFooter{
    margin-top: 10px;
    font-size: smaller; 
    display:inline;
}


.commentBox > .modal-body > .commentChild{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgb(222, 223, 231);
    border-left: 1px solid rgb(222, 223, 231);
    padding: 10px;
    padding-bottom: 0;
}
.commentBox > .modal-body > .commentChild > .commentHeader{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-size: xx-small;

} 
.addComment{
    
    padding: 10px;
    position: fixed;
    bottom: 20px;
    width: 79%;
    
}
.sendLayer{
    float: right;
}
.commentBox > .modal-body > .commentChild > .commentFooter{
    font-size: smaller; 
    display: inline;
    
}
.ratingTool{
    float: right !important;;
    
}
.commentBox > .modal-body > .commentChild > .commentFooter > *{
    float:left;
}

.addCommentChild{
    padding: 5px;
    border-left: 1px solid rgb(222, 223, 231);
}


#commentDate{
    float: right;
}
#commentUser{
    float:left;
}

.titleHeader{
   border-top: 5px solid #488C2A;
   background-color: #f8f8f8;
   line-height: 3;
   height: 100px;
   font-size: xx-large;
   text-align: center;
}
.tags{
    padding: 5px;
    color: #488C2A;
    margin: 5px;
    border-radius: 10px;
    

}
.tags:hover{
    cursor: pointer;
    text-decoration: underline;
}
.debatesOuter{
    margin-bottom: 60px;
}

.popover-content{
    height: 100px;
    overflow: scroll;
    overflow-y: auto;
}


.downVote{
    cursor: pointer;
}

.downVote:hover{
    color: darkred;
}

.upVote{
    cursor: pointer;
}

.upVote:hover{
    color: green;
}
.counter{
    cursor: pointer;
}
.tester.popover-content{
    background-color: rgba(27, 27, 27, 0.88);
    color: white;
  
}
.tester.popover{
    max-width: 150px;
    border-radius: 0px;
    border-top: 3px solid #488C2A;
}
.tester.popover-title{
    border-radius: 0px;
    background-color: #f8f8f8;
}

