/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2016, 10:59:02 AM
    Author     : D062572
*/

.logoutBtn:hover{

    background-color: #EC8C8C;

}

.logoutBtn{
    transition: all 0.7s ease 0s;
}

.openDebateNav{

    border-top: 3px solid #488C2A;

}

.openDebateNavTabs{


    outline: none !important;

}

.debateBox{

    margin-top: 35px;
    border-left: 1px solid grey;
    padding-left: 10px;
    padding-top: 5px;
}

.debateBox:hover{
   
transition: all 0.4s ease 0s;
border-left: 10px solid #488C2A;
cursor: pointer;
}

.debateTitle{

    color: green;
    font-size: 20pt;
    text-shadow: 1px darkgray;
    text-align: left;
    height: 100%;
    vertical-align: central;

}

.debateInfo{

    color: darkgray;
    font-size: 10pt;
    text-align: left;

}
.submit-span{
    cursor: pointer;
    float: right;
}
.header > h3,
.header > form{    
    display: inline;    
}
.header{
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    padding-bottom: 10px;
}
.header > form > span > i{
    line-height: 2.2;
    padding-right: 5px;
    color:  rgb(72, 140, 42);
    font-size: large;
}
.debateMonth{
    margin-top: 25px;
    color: grey;
    font-size: 15pt;
    text-shadow: 1px darkgray;
    text-align: center;
    height: 100%;
    vertical-align: central;
    
}
.debates{   
    position: relative;
    
}
.ourFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    color: white;
    font-size: xx-small;
    background-color: green;
    z-index: 10;
}
.resultDebate{
    cursor: pointer;
    margin-top: 5px;
    padding: 2.5px;  
    padding-left: 5px;
    
}
.resultDebate > div > span{
    display: block;
}
.resultDebate > div > span > i{
   margin: 10px;
   margin-left: 5px;
}

.resultDebate:hover{
    background-color: #ddd;
    border-radius: 5px;
}
.popover{    
    width: 1000px;    
}
#username:hover{
   text-decoration: underline;
   cursor: pointer;
}
.ratersList.popover-content,
.search.popover-content{
   
    background-color: #f8f8f8;
  
}

.ratersList.popover,
.search.popover{  
    border-top: 3px solid #488C2A;
}

.search.popover-content{
    max-height: 300px;
    overflow-y: scroll;  
    overflow-x: hidden;
}

.ratersList.popover-content{
    max-height: 100px;
    overflow-y: scroll;

}

.ratersList.popover-title,
.search.popover-title{

    background-color: #f8f8f8;
}

